.user-profile-dropdown {
  position: absolute;
  width: 15rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 7.5rem;
  right: 10rem;
  z-index: 5;

  .user-profile-items {
    height: 10rem;
    display: flex;
    flex-direction: column;
  }

  h3 {
    padding: 1rem 0;
  }
}
