.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .item-count {
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    bottom: 0;
    left: 47%;
  }
}
