#f0ece3 #dfd3c3 #c7b198 #596e79 :root {
  --color-primary: #f0ece3;
  --color-primary-light: #dfd3c3;
  --color-primary-dark: #c7b198;

  --color-grey-light-1: #596e79;
}

.Toolbar {
  height: 10vh;
  width: 100%;
  // position: fixed;
  // top: 0;
  // left: 0;
  background-color: #596e79;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 100;

  .Logo {
    height: 90%;
    background-color: black;
    margin: auto 0;
    font-size: 1.6rem;
  }

  nav {
    height: 100%;
  }
}
