@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}

.teaser-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  height: 80vh;

  &::after {
    @include clearfix;
  }

  // .category-container {
  //   width: 60%;
  //   border: solid white;
  //   padding: 10px;
  //   position: absolute;
  //   margin: 0 auto;
  //   bottom: 0px;
  //   left: 50%;
  //   -webkit-transform: translateX(-50%);
  //   transform: translateX(-50%);
  // }
  // .teaser-text-container {
  //   text-align: center;
  //   border: solid white;
  //   margin: 0 auto;
  //   width: 60%;
  //   padding: 10px;
  //   position: absolute;
  //   bottom: 50%;
  //   left: 50%;
  //   -webkit-transform: translateX(-50%);
  //   transform: translateX(-50%);
  // }
}
