.Slider {
	margin: 10px 0px;
	max-height: 40vh;
	// max-width: 600px;
	// border: 1px solid black;
	.Slide {
		box-sizing: border-box;
		// margin: 0px;
		// margin: 5px;
		// border: 4px solid transparent;
		border: 10px solid transparent;
		height: auto;
		max-width: 100%;
		overflow: hidden;
		// margin: 0 2.5px;
		// width: auto;
		h3 {
			background-color: #f0ece3;
			text-align: center;
			color: blue;
			// position: absolute;
			position: absolute;
			font-size: 1.4em;
			top: 10px;
			// left: 50%;
			// z-index: 5;
		}
		div {
			box-sizing: border-box;
			border-left: 10px solid transparent;
			// margin: 0 20px;
			height: 100%;
			max-height: 270px;
			// width: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			background-color: #f0ece3;
			overflow: hidden;
		}
		.promo-tag-div {
			content: "SALE!";
			position: absolute;
			right: -45px;
			top: 0px;
			margin: -20px;
			width: 180px;
			height: 80px;
			transform: rotate(45deg);
			background-color: #000; /* to see where it is */
		}
		// img {
		// 	background-color: #f0ece3;
		// 	// margin: 0 auto;
		// 	padding: 0 5px;
		// 	margin: 0 auto;
		// 	max-width: 100%;
		// 	height: auto;
		// 	object-fit: contain;
		// 	// height: 90%;
		// 	// width: auto;
		// 	// position: relative;
		// 	&:hover {
		// 		cursor: pointer;
		// 	}
		// }
		p {
			color: #596e79;
			position: absolute;
			font-size: 1.4em;
			bottom: 14px;
			left: 10px;
			background-color: #dfd3c3;
			padding: 2px;
		}
	}
}
.Btn-Container {
	display: flex;
	justify-content: center;
	* {
		border: none;
		background-color: transparent;
		font-size: x-large;
		margin: 0 5px;
		// color: blue;
	}
}
