.product-container {
	height: 80vh;
	width: 90vw;
	margin: 20px auto;
	display: flex;
	justify-content: space-evenly;
	border: 1px solid black;
}

.product-main-img-container {
	max-width: 75%;
	flex-grow: 2;
	border: 1px solid red;
	background-color: pink;
	display: flex;
	align-items: center;
	.main-img-item {
		background-color: beige;
		max-width: 60%;
		margin: 0 auto;
		position: relative;
		img {
			width: 100%;
			height: auto;
		}
		p {
			position: absolute;
			font-size: 1.4em;
			bottom: 8px;
			left: 8px;
			background-color: antiquewhite;
			padding: 2px;
		}
	}
}

.product-sidebar-container {
	max-width: 35%;
	flex-grow: 1;
	border: 1px solid blue;
	background-color: aqua;
	display: flex;
	flex-direction: column;
	h2 {
		font-weight: 400;
		font-size: 2.2em;
		letter-spacing: 3px;
	}
	.product-secondary-imgs-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.product-secondary-img-container {
			max-width: 50%;
			margin: 0 auto;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}
