.product-container {
	height: 75vh;
	width: 90vw;
	margin: 20px auto;
	display: flex;
	justify-content: space-evenly;
	border: 1px solid black;
	.product-main-img-container {
		flex-grow: 2;
		border: 1px solid red;
		background-color: pink;
		img {
			margin: auto;
			max-width: 60%;
			height: auto;
		}
	}
	.product-secondary-imgs-container {
		flex-grow: 1;
		border: 1px solid blue;
		background-color: aqua;
		img {
			margin: auto;
			max-width: 60%;
			height: auto;
		}
	}
}
