.homepage-container {
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// padding: 2rem 8rem;

	padding: 2rem 8rem;
	display: flex;
	flex-direction: column;
}

.carousel-container {
	height: 50vh;
}

.Super-Promo-Container {
	min-height: 50vh;
	background-color: red;
}
