.cart-item {
  display: flex;
  margin-bottom: 1.5rem;
  .cart-item-image-container {
    width: 30%;
    border: 1px solid red;
    .cart-item-image {
      height: 5rem;
      width: 5rem;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .cart-item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
  }
  .title {
    font-size: 1.5rem;
    margin: 0;
  }
}
