.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;

  div {
    display: flex;
  }
  li {
    margin: 0 1.5rem;
    padding: 1rem 0;
  }

  a:link,
  a:visited {
    text-decoration: none;
    color: black;
    padding: 1.5rem 2rem;
    cursor: pointer;
  }
}
