.user-profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid grey;
  background-color: white;
  top: 5rem;
  right: 10rem;
  z-index: 5;

  .user-profile-items {
    height: 10rem;
    display: flex;
    flex-direction: column;
    list-style: none;

    .user-profile-dropdown-link:link,
    .user-profile-dropdown-link:visited {
      text-decoration: none;
      color: black;
    }
  }

  li {
    padding: 1rem 0;
    text-decoration: none;
  }

  Link {
    text-decoration: none;
  }
}
