.main-container {
	margin: auto;
	background-color: pink;
	width: 90vw;
	height: auto;
}

.category-container {
	// background-color: blue;
	.category-img {
		background-color: gold;
		height: 35vh;
	}
	.category-content {
		background-color: beige;
		height: 30vh;
		display: flex;
	}
}

.category-item {
	width: 200px;
	height: 100%;
	background-color: red;
}
